@import "../../../style/colors.scss";

.table{
    border-collapse: collapse;
    width: 100%;

    & > thead > tr > th{
        font-size: 1.3em;
        padding: 1rem 0.5rem 1rem 0;
        text-align: left;
        border-bottom: 3px solid $bord;
    }

    & > tbody > tr > td{
        padding: 0.5em 0.5em 0.5em 0;
        border-bottom: 1px solid $bord;
    }

    &__pageswitch{
        margin-top: 0.5em;
        padding: 0.3em;

        &__count{
            text-align: left;
        }

        &__pages{
            float: right;

            & > span{
                padding: 0.3em;
                border: 1px solid $bord;
                border-radius: 0.2em;
                margin: 0.3em;
                cursor: default;

                &:hover{
                    background: $lightbg;
                }
            }
        }
    }

    &__holder{
        overflow: auto;
    }
}