<div>
    <div class="table__holder">
        <table class="table" id="table">
            <thead>
                <tr id="table_header">
                    <!-- here go the header row -->
                </tr>
            </thead>
            <tbody id="table_content">
                <!-- here go the rows -->
            </tbody>
        </table>
    </div>
    <div class="table__pageswitch" id="table_pageswitch">
        <span class="table__pageswitch__count">
            <span id="table_count_label"></span>
            <span id="table_count"></span>
        </span>
        <span class="table__pageswitch__pages" id="table_pages"></span>
    </div>
</div>