@import "colors.scss";

.button{
    padding: 1em;
    background: $darkbg;
    color: white;
    min-width: 7em;
    border: none;
    margin: 0.1em;

    &:hover{
        background: $darkestbg;
    }

    &__green{
        background: $greenbg;

        &:hover{
            background: $greenbord;
        }
    }

    &__red{
        background: $redbg;

        &:hover{
            background: $redbord;
        }
    }
}