$redbg: rgba(175, 10, 10, 0.9);
$redbord: rgb(120, 0, 0);
$greenbg: rgba(10, 175, 10, 0.9);
$greenbord: rgb(0, 120, 0);
$bg: rgb(180, 180, 180);
$bord: rgb(120, 120, 120);
$darkbg: rgba(100, 100, 100, 0.8);
$darkestbg: rgba(80, 80, 80, 0.8);
$lightbg: rgba(200, 200, 200, 0.3);