@import "colors.scss";

.menu{
    background: $darkbg;
    display: flex;
    justify-content: stretch;
    width: 100%;

    &__item{
        padding: 1em;
        color: white;
        cursor: default;

        &:hover{
            background: $darkestbg;
        }
    }
}