@import "colors.scss";

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    animation: 0.5s fadein;

    &__content{
        position: absolute;
        background: $bg;
        border: 1px solid $bord;
        border-radius: 1em;
        width: 60%;
        padding: 1em;
        top: 30%;
        left: 20%;
        height: 40%;
        width: 60%;
        overflow: auto;
        animation: 0.5s sizein;

        &__fieldlist{
            display: grid;
            grid-template-columns: 30% 70%;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
        }
    }
}

@keyframes fadein{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}

@keyframes sizein{
    0%{
        left: 45%;
        width: 10%;
        top: 45%;
        height: 10%;
    }
}